#login-image
{
  margin-left:calc(50% - 180px);
  margin-top:20px;
}
#login-frame
{
  padding-top:13%;
  margin-left:calc(50% - 150px);
  height:200px;
  width:300px;
}
#login-header
{
  margin-bottom:15px;
  width:100%;
}
#login-username
{
  margin-bottom:8px;
  width:100%;
}
#login-password
{
  margin-bottom:15px;
  width:100%;
}
#login-button
{
  margin-bottom:-27px;
  width:100%;
  text-align:right;
}
#login-invalid
{
  margin-bottom:30px;
  margin-left:30px;
  height:5px;
  width:60%;
  color:red;
  font-size:11px;
}
