# Ignore these.
.idea/workspace.xml
.idea/tasks.xml
node_modules
resources/htpassword
data
logs
etc/backup/*

# Temporary disk storage for tests
tests/tmp**

# Temporary/Swap files
.*.swo
*~
.*.swp

# Reallow these
!etc/backup/backup.ini.example
!etc/backup/machines/machine.ini.example
!etc/backup/ssl/README

