# Ignore these.
.idea/workspace.xml
.idea/tasks.xml
node_modules
resources/htpassword
data
logs
etc/alcove/*
dist

# Temporary disk storage for tests
tests/tmp**

# Temporary/Swap files
.*.swo
*~
.*.swp

# Reallow these
!etc/alcove/backup.ini.example
!etc/alcove/machines/machine.ini.example
!etc/alcove/ssl/README

