# Ignore these.
.idea/workspace.xml
.idea/tasks.xml
node_modules
resources/htpassword
data
logs
etc/alcove/*
config/*
dist

# Temporary disk storage for tests
tests/tmp**

# Temporary/Swap files
.*.swo
*~
.*.swp

# MacOS
.DS_Store

# Reallow these (old)
!etc/alcove/alcove.ini.example
!etc/alcove/machines/machine.ini.example
!etc/alcove/ssl/README

!config/alcove.ini.example
!config/machines/machine.ini.example
!config/ssl/README

