#login-image
{
  margin-left: calc(50% - 180px);
  margin-top: 20px;
}

#login-frame
{
  height: 200px;
  margin-left: calc(50% - 150px);
  padding-top: 13%;
  width: 300px;
}

#login-header
{
  margin-bottom: 15px;
  width: 100%;
}

#login-username
{
  margin-bottom: 8px;
  width: 100%;
}

#login-password
{
  margin-bottom: 15px;
  width: 100%;
}

#login-button
{
  margin-bottom: -27px;
  text-align: right;
  width: 100%;
}
