.dashboard-green {
  color:green; }

.dashboard-red {
  color:red; }

.dashboard-bold {
  font-weight:bold; }

#dashboard-top-grid {
  margin-top:0px; }

#dashboard-header-title {
  margin-left:5%;
  width:90%;
  font-size:20px;
  text-align:center; }

#dashboard-header-size {
  margin-left:5%;
  padding:26px;
  width:90%;
  font-size:18px;
}

#login-image {
  display: block;
  margin: 20px auto 0 auto; }

#login-form {
  margin: calc(50vh - 199px) auto 0 auto;
  width: 300px; }

@media (max-height: 440px) {
  #login-form {
    margin: 20px auto 0 auto; } }

.login-form-item {
  margin-bottom: 8px;
  width: 100%; }

#login-button {
  margin-bottom: 8px;
  text-align: right; }

#login-error {
  margin: 0 0 8px 0 !important; }
