/* All pages */
body {
  background-color: #D0D0D0; }

.bold {
  font-weight: bold; }

.template {
  display: none; }

/* Login Page */
#login-image {
  display: block;
  margin: 20px auto 0 auto; }

#login-form {
  margin: calc(50vh - 199px) auto 0 auto;
  width: 300px; }

@media (max-height: 440px) {
  #login-form {
    margin: 20px auto 0 auto; } }

.login-form-item {
  margin-bottom: 8px;
  width: 100%; }

#login-button {
  margin-bottom: 8px;
  text-align: right; }

#login-error {
  margin: 0 0 8px 0 !important; }

/* System Dashboard */
/* TODO: Check if any of these styles are no longer applied due to changing class names */
#dashboard-logo {
  max-height: 90px;
  max-width: 100%; }

#dashboard-header-grid {
  margin: 0; }

#dashboard-header-stats-container {
  display: inline-block; }

.dashboard-header-segment {
  text-align: center;
  font-size: 18px !important; }

#dashboard-header-title {
  padding-top: 10px;
  margin-left: -50px;
  min-width: 250px;
  font-size: 10px;
  text-align: center; }

#dashboard-header-stats-labels {
  width: 110px; }

#dashboard-header-stats {
  float: right; }

.dashboard-header-segment {
  text-align: center;
  font-size: 18px;
  background-color: #EEEEEE; }

/* Machine Dashboard */
.machine-dashboard-calendar-today-border {
  border: 1px solid black !important;
  box-sizing: border-box; }

.machine-dashboard-link-non-selectable {
  pointer-events: none; }

.machine-dashboard-disabled {
  pointer-events: none;
  opacity: 0.4; }
