; Backup System Example Configuration
;
; Use this file as an example to configure the backup system for your
; environment. This file configures the main system and *MUST* be edited
; before startup. Each machine to be backed-up can be configured in an
; individual (.ini) config file in the "machines/" directory. These files
; can be created or modified through the web server after system startup.
;
; NOTE: All file paths must either be absolute or relative
;     : to the application root directory, not relative to this file
;     : location. 

; BASIC SETTINGS:

; Network address (or domainname) to bind the web server to, defaulting to 
; 127.0.0.1. Specify 0.0.0.0 to attach to all IPs including external.
;ip='127.0.0.1'

; Port for the web server to run.
;port=3000

; Storage location of the log files.
;log_dir='/var/log/backup-system'

; Logging level: ALL < TRACE < DEBUG < INFO < WARN < ERROR < FATAL < MARK | OFF
; (Defaults to ERROR)
;log_level='ERROR'

; Destination for the backup data.
;data_dir='data/'

; HTTPS CONFIG
; Location of the ssl key / cert. If specified, the webserver will only run in
; HTTPS mode.
[secure]
;key='/etc/ssl/ssl.key'
;cert='/etc/ssl/ssl.crt'

; RSYNC VARIABLES
[rsync]
; Maximum amount of backups allowed to run at the same time
;max_simultaneous = 6

; ssh key location to use as the identity to connect to the remote machines.
;identity = '/etc/backup/private.key'

; User to connect to the remote machines. Defaults to root.
;user = 'root'


; RSYNC RETRY VARIABLES
[rsync.retry]
; The program will retry the backup attempt if rsync fails to run successfully 
; for any reason. The following variables control that retry process. The first
; retry attempt will occur as specified, but subsequent attempts will be
; delayed by increasing amounts.

; Maximum attempts made to backup a machine when an error occurs. After the 
; retry attempts are exhausted, the system will not attempt another backup of
; this machine until the next scheduled backup time.
;max_attempts=4

; Time (in minutes) to wait for the first retry attempt ater rsync completes
;   unsucessfully for a particular machine. Can be fractional (eg. 3.75).
;time = 3

; NOTIFICATIONS VARIABLES
[notifications]
; Emails to be notified if there is an error in the backup process.
; Specify one address per line, but repeat this option as many times as needed.
;email_to[]='user@bioneos.com'
;email_to[]='user2@bioneos.com'

; The email address that the email is sent from if there is an error.
;email_from='info@bioneos.com'

; SMS
; If SMS is configured, expect to get around 4-5 messges per month given the
; backup system is working. The free tier for AWS is 100 messages per month.
; If sending more messages, consider paying for SNS services.
; Provide a phone number in E.164 format - a maximum of 15 digits prefixed with
;   a country code. Do not prefix with a '+'.
;   For example, a US phone number may look like "15551234567".
;   See (https://docs.aws.amazon.com/sns/latest/dg/sms_publish-to-phone.html)
;   for more details.
; OR Provide the AWS Topic ARN with subscribers who will receive messages.
; Do not provide both values.
;sms_to="11234567890"
;sms_to="arn:aws:sns:region:subscriber:topicname"

; The AWS access key for your account
;sms_accessKey=012345678999

; The AWS secret key for your account
;sms_secretKey=123456EXAMPLE

; The region that supports SMS from AWS
;sms_region='us-east-1'


; Schedule for summary report emails to be sent out. Defaults to 8:00am on 
; Mondays. Use comma separated schedules if you wish more than one. 
; Ex] 1,3,5;[13:30] = Mon, Wed, Fri at 1:30pm
;summary_sched: '1;[8:00]'

; SMTP CONFIG
[notifications.smtp]
; Hostname for the smtp server through which the emails are sent.
;host='smtp.gmail.com'

; Port on which the email server listens.
;port=587

; Authentication username for the outgoing emails.
;user='example@gmail.com'

; Authentication password for the outgoing emails.
;pass='password1234'
