; Name that you wish to call your machine
; Ex] 
;   name=machine
;
;name=

; Your machine hostname (can be domain name or IP address)
; Ex]
;   host=machine.company.com
;
;host=

; The port of the SSH server on the machine
; Must be equal to 22 or between 1024 and 65535 (inclusive)
; Defaults to 22 when blank
;port = 12345

; Your list of backup directories. 
; Specify all directories you want included in the list of backed up 
; directories, using multiple lines and the [] syntax.
; + Only specify directories, not individual files.
; + All listed directories need to be absolute paths.
; + There should be no double or triple wildcards (** or ***).
;
; If not specified, defaults are /home and /etc.
;
;backup_directories[] = /home
;backup_directories[] = /etc

; File extensions to always ignore.
; + Do not include paths or wildcards in these settings.
; + Use caution to ensure these extensions do not match a directory name, as
;   the entire directory will be skipped. Unless this is the desired behavior...
; If a directory is named 'exDir.ext' and '.ext' is excluded, the directory
;   'exDir.ext' will not be included in the backup.
; Ex] Do not backup .swp files
;   ignore_extensions[] = .swp
;
;ignore_extensions[]=

; Specific files or directories to ignore.
; + These should always be absolute paths
; + There should be no double or triple wildcards (** or ***).
; Ex] Do not backup .cache from the "user1" home account
;   ignore_files[] = /home/user1/.cache
;
;ignore_files[]= 

; Describe the backup schedule and time
;   schedule = "DAYS(N);[HH:MM]"
; SCHEDULE 
;   DAYS
;     A comma separated list of values representing the days of the week on which
;     to perform a backup (valid values are 0-6). Ranges are also allowed e.g. 1-5
;     is Monday through Friday
;   N
;     The number of backups to keep
;   + Any number of schedules can be defined, separated by a single pipe (|)
;     Ex] DAYS1(7)|DAYS2(4)|...
;   
; TIME
;   HH:MM 
;     The time to initiate the backup (if possible). Seconds cannot be specified.
;
; The SCHEDULE and TIME must be separated by a single semi-colon (;)
; The entire string must be surrounded with quotes ("")
; Ex] Backup every day at 3AM, keep 7 copies
;   schedule="0,1,2,3,4,5,6(7);[03:00]"
; Ex] Backup every Monday at 1AM, keep 4 copies
;   schedule="1(4);[01:00]"
;
;schedule=""
