{% extends 'layout.njk' %}

{% block content %}

<div class="ui grid" id="dashboard-top-grid">
  <div class="row">
    <div class="four wide column">
      <div class="ui segment" id="dashboard-header-title">
        <h1 class="ui header"> Backup System </h1>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment" id="dashboard-header-size">
        Total Size: <span class="dashboard-bold">9GB</span> out of <span class="dashboard-bold">1024GB</span>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui statistics">
        <div class="green statistic">
          <div class="value">
            {{dashboard.successfulMachines}}
          </div>
          <div class="label">
            Successful
          </div>
        </div>
        <div class="yellow statistic">
          <div class="value">
            {{dashboard.unsuccessfulMachines}}
          </div>
          <div class="label">
            Partially Successful
          </div>
        </div>
        <div class="red statistic">
          <div class="value">
            {{dashboard.partialSuccessMachines}}
          </div>
          <div class="label">
            Unsuccessful
          </div>
        </div>
        <div class="grey statistic">
          <div class="value">
            {{dashboard.idleMachines}}
          </div>
          <div class="label">
            Idle
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Size</th>
      <th>Total Restarts</th>
      <th>Last Restart</th>
      <th>Time Running</th>
    </tr>
  </thead>
  <tbody>

    {% for machines in dashboard.machine %}

    {% if machines.totalBackups == 0 %}
      <tr class="disabled">
    {% elif machines.totalBackups == machines.successfulBackups %}
      <tr>
    {% elif machines.successfulBackups == 0 %}
      <tr class="error">
    {% else %}
      <tr class="warning">
    {% endif %}

        <td>
         {% if machines.totalBackups > 0 and machines.successfulBackups == 0 %}<i class="attention icon"></i> {% endif %} {{machines.name}} 
        </td>
        <td> {{machines.successfulBackups}} of {{machines.totalBackups}} backups successful </td>
        <td> {{machines.totalSize}} </td>
        <td> {{machines.totalRestarts}} </td>
        <td> {{machines.lastRestartDate}} </td>
        <td> {{machines.timeSinceRestart}} </td>
      </tr>

      {% endfor %}

  </tbody>
</table>

{% endblock %}