{% extends 'layout.njk' %}

{% block content %}

<div class="ui grid" id="dashboard-top-grid">
  <div class="row">
    <div class="four wide column">
      <div class="ui segment" id="dashboard-header-title">
        <h1 class="ui header"> Backup System </h1>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment" id="dashboard-header-size">
        Total Size:
      </div>
    </div>
  </div>
</div>

{% endblock %}