{% extends 'layout.njk' %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div id="login-dialog" class="column">
    <img src="/logo.png" class="image">
    <p>Login Dialog here</p>
  </div>
</div>
{% endblock %}
