{% extends 'layout.njk' %}

{% block content %}
  <div>
    <div class="ui fluid stackable grid" id="dashboard-header-grid">
      <div class="row" id="dashboard-header-row-top">
        <div class="six wide column">
          <a href="/dashboard"><img id="dashboard-logo" src="/logo.png"></a>
          <h1>Machine: {{ machine.name }}</h1>
          {% if showRequestedBackups and showScheduledBackups %}
            <h2 id="subheader">Showing: All backups</h2>
          {% elif showRequestedBackups %}
            <h2 id="subheader">Showing: Requested backups</h2>
          {% elif showScheduledBackups %}
            <h2 id="subheader">Showing: Scheduled backups</h2>
          {% else %}
            <h2 id="subheader">Click one of the buttons to show backups</h2>
          {% endif %}
          <button id="backup-now-button">Backup now</button>
          {% if showRequestedBackups %}
            <button class="filter-button" id="hide-requested-backups-button">Hide requested backups</button>
          {% else %}
            <button class="filter-button" id="hide-requested-backups-button">Show requested backups</button>
          {% endif %}
          {% if showScheduledBackups %}
            <button class="filter-button" id="hide-scheduled-backups-button">Hide scheduled backups</button>
          {% else %}
            <button class="filter-button" id="hide-scheduled-backups-button">Show scheduled backups</button>
          {% endif %}
        </div>
        <div class="ten wide column">
          <div class="ui calendar" id="inline-calendar"></div>
        </div>
      </div>

{#      <div class="three column row">#}
{#        <div class="column">#}
{#          <div class="ui segment" id="dashboard-header-segment">#}
{#            Total Backup Size: <br /> <span class="bold" id="totalSize">...</span>#}
{#          </div>#}
{#        </div>#}
{#        <div class="column">#}
{#          <div class="ui segment" id="dashboard-header-segment">#}
{#            Free Space: <br /> <span class="bold" id="freeSpace">...</span>#}
{#          </div>#}
{#        </div>#}
{#        <div class="column">#}
{#          <div class="ui segment" id="dashboard-header-segment">#}
{#            Running since: <br /> <span class="bold"> {{ lastBackupSystemRestart }} </span>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}

      <div class="one column row">
        <div class="column">
          <table class="ui striped selectable sortable celled table" id="machine-table">
            <thead>
            <tr>
              <th class="collapsing">Backup Time</th>
              <th class="collapsing">Size on Disk</th>
              <th class="collapsing">Transfer Size</th>
              <th class="collapsing">Transfer Time</th>
              <th class="collapsing">Exit Code</th>
              <th>Rsync Exit Reason</th>
            </tr>
            </thead>
            <tbody>
            {% if showRequestedBackups %}
              {% for backupEvent in requestedBackupEvents %}  {# Always display requestedBackupEvents first #}
                <tr>
                  {% if backupEvent.rsyncExitCode %}
                    <td class="collapsing negative">
                      <i class="user circle icon" title="This backup was requested by a user."></i>
                      <i class="exclamation circle icon" title="This backup was not successful."></i>
                      {{ backupEvent.date }}
                    </td>
                  {% else %}
                    <td class="collapsing positive">
                      <i class="user circle icon" title="This backup was requested by a user."></i>
                      <i class="check circle icon" title="This backup was successful."></i>
                      {{ backupEvent.date }}
                    </td>
                  {% endif %}
                  <td class="collapsing">{{ backupEvent.size }}</td>
                  <td class="collapsing">{{ backupEvent.transferSize }}</td>
                  <td class="collapsing">{{ backupEvent.transferTimeSec }}</td>
                  <td class="collapsing">{{ backupEvent.rsyncExitCode }}</td>
                  <td>{{ backupEvent.rsyncExitReason }}</td>
                </tr>
              {% endfor %}
            {% endif %}
            {% if showScheduledBackups %}
              {% for backupEvent in backupEvents %}
                <tr>
                  {% if backupEvent.rsyncExitCode %}
                    <td class="collapsing negative">
                      <i class="exclamation circle icon" title="This backup was not successful."></i>
                      {{ backupEvent.date }}
                    </td>
                  {% else %}
                    <td class="collapsing positive">
                      <i class="check circle icon" title="This backup was successful."></i>
                      {{ backupEvent.date }}
                    </td>
                  {% endif %}
                  <td class="collapsing">{{ backupEvent.size }}</td>
                  <td class="collapsing">{{ backupEvent.transferSize }}</td>
                  <td class="collapsing">{{ backupEvent.transferTimeSec }}</td>
                  <td class="collapsing">{{ backupEvent.rsyncExitCode }}</td>
                  <td>{{ backupEvent.rsyncExitReason }}</td>
                </tr>
              {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
{#  <script src="/js/vendor/jquery.tablesort.min.js"></script>#}
{#  <script src="/js/machine.js"></script>#}
 <script>
  function sendBackupRequest(machineName) {
    fetch(`/api/machine/${machineName}/backup-now`)
      .then(data => {
        console.log(data);
      })
      .catch(err => {
        console.error('Error fetching machine data:', err);
      });
  }

  function toggleRequestedBackups() {
    const url = new URL(location.href);
    url.searchParams.set('showRequestedBackups', !{{ showRequestedBackups }});
    location.assign(url.search);
  }

  function toggleScheduledBackups() {
    const url = new URL(location.href);
    url.searchParams.set('showScheduledBackups', !{{ showScheduledBackups }});
    location.assign(url.search);
  }

  const backupNowButton = document.getElementById('backup-now-button');
  const hideRequestedBackupsButton = document.getElementById('hide-requested-backups-button');
  const hideScheduledBackupsButton = document.getElementById('hide-scheduled-backups-button');

  backupNowButton.addEventListener('click', () => sendBackupRequest("{{ machine.name }}"));
  hideRequestedBackupsButton.addEventListener('click', toggleRequestedBackups);
  hideScheduledBackupsButton.addEventListener('click', toggleScheduledBackups);

  let backupCalendar = [];
  {% for week in backupCalendar %}
    {% for day in week %}
      backupCalendar.push({
        bucket: "{{day.bucket}}",
        today: "{{day.today}}",
        backup: "{{day.bucket.backup}}",
        id: "{{day.id}}",
        date: "{{day.date}}",
      });
    {% endfor %}
  {% endfor %}
 </script>
 <script src="/js/machine.js"></script>
 <script>
  generateCalendar(backupCalendar);
 </script>
{% endblock %}
