{% extends 'layout.njk' %}

{% block content %}
  <div class="dashboard-body">
    <div class="ui fluid stackable grid" id="dashboard-header-grid">
      <div class="row" id="dashboard-header-row-top">
        <div class="six wide column">
          <img id="logo" src="/logo.png">
          <h1>{{ machine.name }}</h1>
        </div>
        <div class="ten wide column">
          <table class="ui celled unstackable table">
            <thead>
              <tr>
                <th>Sa</th>
                <th>M</th>
                <th>Tu</th>
                <th>W</th>
                <th>Th</th>
                <th>F</th>
                <th>Su</th>
              </tr>
            </thead>
            <tbody>
              {% for week in backupCalendar %}
                <tr>
                  {% for day in week %}
                    <td class="
                      {{ 'disabled' if not day.bucket }}
                      {{ 'today-td-border' if day.today }}
                      {{ 'positive' if day.bucket and day.successfulBackups > 0 }}
                      {{ 'negative' if day.bucket and day.successfulBackups === 0 }}
                      {{ 'warning' if not day.bucket and day.attemptedBackups > 0 }}
                    ">{{ day.dateString }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

{#      <div class="three column row">#}
{#        <div class="column">#}
{#          <div class="ui segment" id="dashboard-header-segment">#}
{#            Total Backup Size: <br /> <span class="dashboard-bold" id="totalSize">...</span>#}
{#          </div>#}
{#        </div>#}
{#        <div class="column">#}
{#          <div class="ui segment" id="dashboard-header-segment">#}
{#            Free Space: <br /> <span class="dashboard-bold" id="freeSpace">...</span>#}
{#          </div>#}
{#        </div>#}
{#        <div class="column">#}
{#          <div class="ui segment" id="dashboard-header-segment">#}
{#            Running since: <br /> <span class="dashboard-bold"> {{ lastBackupSystemRestart }} </span>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
    </div>

    <table class="ui striped selectable sortable celled table" id="dashboard-table">
      <thead>
      <tr>
        <th class="dashboard-table-name"> Machine Name </th>
        <th class="dashboard-table-status"> Status </th>
        <th class="dashboard-table-size"> Total Size </th>
        <th> Last Backup </th>
      </tr>
      </thead>
      <tbody>
      {% for machine in machines %}

      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block js %}
  <script src="/js/vendor/jquery.tablesort.min.js"></script>
  <script src="/js/machine.js"></script>
{% endblock %}
