{% extends 'layout.njk' %}

{% block content %}
  <div>
    <div class="ui fluid stackable grid" id="dashboard-header-grid">
      <div class="row" id="dashboard-header-row-top">
        <div class="six wide column">
          <a href="/dashboard"><img id="dashboard-logo" src="/logo.png"></a>
          <h1>Machine: {{ machine.name }}</h1>
          <h1></h1>
        </div>
        <div class="ten wide column">
          <div class="ui calendar" id="inline-calendar"></div>
        </div>
      </div>

{#      <div class="three column row">#}
{#        <div class="column">#}
{#          <div class="ui segment" id="dashboard-header-segment">#}
{#            Total Backup Size: <br /> <span class="bold" id="totalSize">...</span>#}
{#          </div>#}
{#        </div>#}
{#        <div class="column">#}
{#          <div class="ui segment" id="dashboard-header-segment">#}
{#            Free Space: <br /> <span class="bold" id="freeSpace">...</span>#}
{#          </div>#}
{#        </div>#}
{#        <div class="column">#}
{#          <div class="ui segment" id="dashboard-header-segment">#}
{#            Running since: <br /> <span class="bold"> {{ lastBackupSystemRestart }} </span>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}

      <div class="one column row">
        <div class="column">
          <table class="ui striped selectable sortable celled table" id="machine-table">
            <thead>
            <tr>
              <th class="collapsing">Backup Time</th>
              <th class="collapsing">Size on Disk</th>
              <th class="collapsing">Transfer Size</th>
              <th class="collapsing">Transfer Time</th>
              <th class="collapsing">Exit Code</th>
              <th>Rsync Exit Reason</th>
            </tr>
            </thead>
            <tbody>
            {% for backupEvent in backupEvents %}
              <tr>
                {% if backupEvent.rsyncExitCode %}
                  <td class="collapsing negative"><i class="exclamation circle icon"></i>{{ backupEvent.date }}</td>
                {% else %}
                  <td class="collapsing positive"><i class="check circle icon"></i>{{ backupEvent.date }}</td>
                {% endif %}
                <td class="collapsing">{{ backupEvent.size }}</td>
                <td class="collapsing">{{ backupEvent.transferSizeStr }}</td>
                <td class="collapsing">{{ backupEvent.transferTimeStr }}</td>
                <td class="collapsing">{{ backupEvent.rsyncExitCode }}</td>
                <td>{{ backupEvent.rsyncExitReason }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
{#  <script src="/js/vendor/jquery.tablesort.min.js"></script>#}
{#  <script src="/js/machine.js"></script>#}
 <script>
  let backupCalendar = [];
  {% for week in backupCalendar %}
    {% for day in week %}
      backupCalendar.push({
        bucket: "{{day.bucket}}",
        today: "{{day.today}}",
        backup: "{{day.bucket.backup}}",
        id: "{{day.id}}",
        date: "{{day.date}}",
      });
    {% endfor %}
  {% endfor %}
 </script>
 <script src="/js/machine.js"></script>
 <script>
  generateCalendar(backupCalendar);
 </script>
{% endblock %}
